.ProseMirror {
  outline: none;
  min-height: 160px;
  font-size: 1rem;
  line-height: 1.6;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #aaa;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
} 